@model ProfileViewModel

<h2>Профиль пользователя</h2>

<!--Страница профиля пользователя-->
<div class="form-group">
    <label>Фамилия Имя Отчество</label>
    <input type="text" class="form-control" value="@Model.FullName" readonly />
</div>

<div class="form-group">
    <label>Электронная почта</label>
    <input type="text" class="form-control" value="@Model.Email" readonly />
</div>

<div class="form-group">
    <label>Номер телефона</label>
    <input type="text" class="form-control" value="@Model.PhoneNumber" readonly />
</div>

<div class="form-group">
    <label>Роль</label>
    <input type="text" class="form-control" value="@(
        User.IsInRole("Администратор") ? "Администратор" :
        User.IsInRole("Тренер") ? "Тренер" :
        User.IsInRole("Спортсмен") ? "Спортсмен" :
        "Роль не определена"
    )" readonly />
</div>

@if (User.IsInRole("Спортсмен"))
{
    <div class="form-group">
        <label>Закрепленный тренер</label>
        <input type="text" class="form-control" 
               value="@Model.CoachName" readonly />
    </div>
}

<a href="@Url.Action("Edit", "Account")" class="btn btn-primary">Редактировать</a>